# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*mp4*
!/public/Videos/wrongside.mp4
!/public/Videos/5.mp4
!/public/Videos/6.mp4
!/public/Videos/7.mp4
!/public/Videos/8.mp4
!/public/Videos/9.mp4
!/public/Videos/10.mp4
!/public/Videos/11.mp4
!/public/Videos/12.mp4
!/public/Videos/13.mp4